@use './colors' as *;

.dark {
  .bg {
    background-image: url(../images/BGCG_dark4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .card{
    color: white;
    background: linear-gradient(
      to right top,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(50px);
    background-clip: padding-box;
  }

  .card__front, .card__back {
    background: gray;
    color:$primary-green;
    
    
   }

  .card-top,
  .card-left {
    background: rgb(173, 172, 172);
  }

  .card-right {
    background: transparent;
  }

  /* nav a::after {
    background: white;
  } */

  a {
    color: white;
  }

  .subHeader {
    color: rgb(207, 205, 205);
  }
}
