@use './colors' as *;

.dark {
  .bg {
    background-image: url(../images/BGCG_dark4.png);
  }

  .card{
    color: $color-dark-text;
    background: linear-gradient(
      to right top,
      rgba(31,42,46,0.4),
      rgba(31,42,46,0.1)
    );
    backdrop-filter: blur(50px);
    background-clip: padding-box;
  }

  .card__front, .card__back {
    background: $color-dark-card;
    color:$primary-green;
    
    
   }

  .card-top,
  .card-left {
    background: $color-dark-card;
  }

  .card-right {
    background: transparent;
  }

  /* nav a::after {
    background: white;
  } */

  a, .dm-switch {
    color: $color-dark-link;
  }

  .subHeader {
    color: $color-dark-link;
  }
}
