@use "./colors" as *;

.light {
  .bg {
    background-image: url(../images/2.png);
  }

  .card {
    background: linear-gradient(
      to left top,
      rgba(222, 222, 222, 0.3),
      rgba(222, 222, 222, 0.1)
        /*  rgba(61, 176, 153, 0.7),
      rgba(61, 176, 153, 0.1) */
        /*   rgba(105, 105, 105, 0.7),
      rgba(105, 105, 105, 0.1) */
    );
    backdrop-filter: blur(40px);
    background-clip: padding-box;
  }

  .card-top,
  .card-left,
  .card__front, .card__back {
    color: $primary-green;
    background: rgba(222, 222, 222,1);
  }
}
