@use "./colors" as *;

.light {
  .bg {
    background-image: url(../images/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .card {
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.1)
        /*  rgba(61, 176, 153, 0.7),
      rgba(61, 176, 153, 0.1) */
        /*   rgba(105, 105, 105, 0.7),
      rgba(105, 105, 105, 0.1) */
    );
    backdrop-filter: blur(40px);
    background-clip: padding-box;
  }

  .card-top,
  .card-left {
    color: $primary-green;
    background: white;
  }

  .subHeader {
    color: rgb(158, 157, 157);
  }
}
