.unterricht_container {
  display: flex;
  margin: 1rem 0;
}

.side-nav {
  padding: 1rem;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 2rem;
}

.content {
  padding: 1rem;
}
