.button2 {
  background-color: rgba(61, 176, 153, 1);
  outline: none;
  display: inline-block;
  font-weight: bold;
  padding: 5px 10px;
  box-shadow: 1px 1px 2px rgb(202, 202, 202);
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.button2:hover {
  background-color: rgb(3, 24, 20);
  color: white;
}
