@import "../style/colors";
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: $primary-green;
  }

  nav ul {
    display: flex;
  }

  nav li {
    padding: 10px;
    margin: 0 5px;
  }

  nav a::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background: $text;
    transition: all ease-in-out 200ms;
  }

  nav a:hover::after {
    width: 100%;
  }

  /* nav a {
    &:hover {
      border-bottom: 2px solid $text;
    }
  } */
}
